/* src/index.css
:root {
  direction: rtl;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9fa;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: none;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  /* בגלל שאנחנו בונים מערכת בעברית */
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f8f9fa;
  /* אפור בהיר מאוד שראינו בהשראות */
}

/* הסתרת גלגלת עבור דפדפני Chrome, Safari ו-Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* הסתרת גלגלת עבור Firefox ו-IE */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}